<ion-header>
  <ion-toolbar>
    <ion-title>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor=" let u of users ;">

      <ion-col> {{u._source.name}} </ion-col>

      <ion-col> {{u._source.email}}</ion-col>

      <ion-col> {{u._id}}</ion-col>


    </ion-row>
  </ion-grid>

</ion-content>