<ion-header>
  <ion-toolbar>
    <ion-title>AddUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="submit()">


      <ion-item>
        <ion-icon slot="start" name="text-outline"></ion-icon>
        <ion-input formControlName="name" type="text" placeholder="Your name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input formControlName="username" type="text" placeholder="Your username" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input formControlName="email" type="email" placeholder="your@email.com" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName="password" type="password" placeholder="Your password" required> </ion-input>
      </ion-item>


      <ion-button type="submit" expand="block" fill="clear" shape="round">
        Add user
      </ion-button>
    </form>
  </div>

</ion-content>