<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Car
    </ion-title>
  </ion-toolbar>
  <ion-buttons>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <form [formGroup]="carsForm" (ngSubmit)="Create()">
  
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="Name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Matricule</ion-label>
      <ion-input formControlName="Matricule"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">typeCarburant</ion-label>
      <ion-input formControlName="typeCarburant"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Carburant</ion-label>
      <ion-input formControlName="Carburant"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Latitude</ion-label>
      <ion-input formControlName="Latitude"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Longitude</ion-label>
      <ion-input formControlName="Longitude"></ion-input>
    </ion-item>

    <ion-item>
    
      <ion-button (click)="Create()" [disabled]="!carsForm.valid" shape="round" size="medium" >
        Add a new Car
      </ion-button>
    </ion-item>
  
  </form>
  

</ion-content>
