<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="signUpUser(form)">
    <div>
      <ion-item>
        <ion-input type="email" name="email" placeholder="your@email.com" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" name="password" placeholder="password" ngModel required></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-button type="submit" [disabled]="form.invalid">
        Sign Up
      </ion-button>
    </div>
  </form>
 
</ion-content>
