<ion-header>
  <ion-toolbar>
    <ion-title>cars</ion-title>
  </ion-toolbar>
  <ion-buttons>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content>
<ion-card *ngFor="let car of carsList" color="primary">
  <span *ngIf="!car.isEdit; else elseBlock">
    <ion-card-header>
      <div class="ion-card-container">
          <ion-card-title>{{car.Name}}</ion-card-title>
        <ion-card-subtitle><img class="imgcar" src="../assets/img/license-plate.png" alt="">
          {{car.Matricule}} </ion-card-subtitle><br>
        <ion-card-subtitle><img class="imgcar" src="../assets/img/gas-station.png" alt="">
          {{car.Carburant}}% </ion-card-subtitle> <br>
        <ion-card-subtitle><img class="imgcar" src="../assets/img/gas-fuel.png" alt="">
          {{car.typeCarburant}}</ion-card-subtitle><br>
        <ion-card-subtitle><img class="imgcar" src="../assets/img/location.png" alt="">
          {{car.Latitude}} , <br> {{car.Longitude}}</ion-card-subtitle>
        <ion-card-subtitle></ion-card-subtitle>

    </div>
                <img class="imgcar" src="../assets/img/car.png" alt="">

    </ion-card-header>

    <ion-card-content>

      <ion-button shape="round" color="secondary" size="medium" (click)="Ajouter(car)">
        <ion-icon size="meduim" slot="icon-only" name="create"></ion-icon>

      </ion-button>
      <ion-button shape="round" color="danger" size="meduim" (click)="Supprimer(car.id)">
        <ion-icon size="meduim" slot="icon-only" name="trash"></ion-icon>

      </ion-button>
    </ion-card-content>
  </span>

  <ng-template #elseBlock>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col> Ajouter</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button fill="solid" color="success" size="small" (click)="Update(car)" shape="round">
                Mettre à jour
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button fill="solid" color="danger" size="small" (click)="car.isEdit = false" shape="round">
                Supprimer
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Name</strong></ion-label>
        <ion-input type="text" [(ngModel)]="car.EditName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Carburant</strong></ion-label>
        <ion-input type="text" [(ngModel)]="car.EditCarburant"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Matricule</strong></ion-label>
        <ion-input type="text" [(ngModel)]="car.EditMatricule"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>typeCarburant</strong></ion-label>
        <ion-input type="text" [(ngModel)]="car.EdittypeCarburant"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Latitude</strong></ion-label>
        <ion-input type="text" [(ngModel)]="car.EditLatitude"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Longitude</strong></ion-label>
        <ion-input type="text" [(ngModel)]="car.EditLongitude"></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ng-template>
</ion-card>
</ion-content>
