ion-img{
    width: 20%;
    height: 20%;
}

#img{
    width: 30px;
    height: 30px;
}

#imglat{
    width: 30px;
    height: 30px;
}
ion-card-header{
    display: flex !important;
    justify-content: space-between;
    place-items: center;
}

.imgcar{
    width: 70px;
    height: 70px;
}
ion-card-subtitle{
        display: flex;
            place-items: center;
        

}
ion-card-title {
margin-bottom: 5px;}

ion-card-subtitle .imgcar{
    width: 30px;
    height: 30px;
    margin-right: 5px;

    

}
ion-title{
  background-color: black;
  color:white;
  text-align: center;
padding: 18px;
}

