<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cars On map
    </ion-title>
  </ion-toolbar>
  <ion-buttons>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content>
  

<div #map id="map"></div>
    <ion-fab-button color="danger" [routerLink]="['/add-car']">+</ion-fab-button>
</ion-content>