
ion-title{
  background-color: black;
  color:white;
  text-align: center;
padding: 18px;
}

#map{
  height: 100%;
}
ion-fab-button{
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-bottom: 5vh;
  margin-right: 15vw;
  font-size: 20px;
}

